@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.is-product {
  .detail-body {
    margin-top: 10px;
    margin-bottom: 0px;
    @media(min-width: $screen-sm-min) {
      margin-bottom: 30px;
      margin-top: 0px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}