@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.is-contact {
	.map {
		&-shadow {
			display: grid;
			img {
				margin: auto;
				width: 100%;
				max-width: 1000px;
				height: auto;
			}
		}
	}
	form {
		margin-top: 16px;
		margin-bottom: 30px;
		@media (min-width: $screen-md-min) {
			margin-bottom: 50px;
			margin-top: 32px;
		}
	}
	.form-control {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-size: 14px;
		@media (min-width: $screen-md-min) {
			font-size: 16px;
		}
	}
	.contact {
		&-list {
			list-style: none;
			margin: 0;
			padding: 0;
			display: grid;
			grid-gap: 16px;
		}
	}
	.wrap-btn-contact {
		text-align: center;
		margin-top: 32px;
	}
	.has-error {
		.list-unstyled {
			li {
				color: $color-red;
			}
		}
	}

	.contact-info {
		@media (min-width: $screen-md-min) {
			margin-top: 24px;
		}
		.wrap-content {
			text-align: center;
			padding: 16px;
			@media (min-width: $screen-md-min) {
				padding: 32px 16px;
			}
			background-color: nth($color-array, 2);
			p {
				font-size: 16px;
				font-weight: bold;
				margin-top: 0;
				@media (min-width: $screen-md-min) {
					font-size: 24px;
				}
			}
		}
	}

	.error {
		font-style: italic;
		color: #f00;
		display: none;
	}
	.btn {
		display: grid;
		align-items: center;
		margin: auto;
	}
}
