@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.is-news {
	.heading {
		padding-bottom: 16px;
	}
	.news-detail {
		display: grid;
	}
	.news-content {
		display: grid;
	}
	.relate {
		display: grid;
		margin-top: 32px;
		&-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 24px;
		}
		&-item {
			display: grid;
			grid-template-columns: 86px 1fr;
			grid-gap: 16px;
		}
		&-body {
			display: grid;
			p {
				text-align: justify;
			}
		}
		&-link {
			color: $color-black;
			&:hover {
				color: $color-green;
			}
		}
	}
}
