@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.is-about {
	.article-about {
		display: grid;
	}

	.article-detail {
		display: grid;
		// grid-row-gap: 16px;
		text-align: justify;
	}

	.heading-detail {
		border-bottom: solid 2px $color-main;
		padding-bottom: 4px;
	}
}
