@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.is-detail {
	li {
		line-height: normal;
	}
	.cat-list {
		margin-top: 30px;
	}
	.news-body {
		img {
			width: 100%;
			height: auto;
			margin-top: 15px;
		}
	}
	.news {
		margin-bottom: 15px;
	}
	.detail-title {
		h2 {
			margin-top: 0px;
			line-height: normal;
		}
	}
}
