@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.arrow {
	border: solid #ababab;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	position: absolute;
	top: 36%;
	transform: (rotate(-45deg));

	&.right {
		right: 16px;
	}
	&.left {
		left: 16px;
	}
}

.up {
	transform: (rotate(-135deg));
}

.down {
	transform: (rotate(45deg));
}

.plus {
	width: 35px;
	height: 35px;
	position: absolute;
	background-color: #e2e2e2;
	right: 0px;
	top: 0px;

	&:before,
	&:after {
		position: absolute;
		content: "";
		background-color: #b5142c;
	}

	&:before {
		width: 16px;
		height: 2px;
		top: 45%;
		left: 25%;
	}

	&:after {
		width: 2px;
		height: 16px;
		left: 45%;
		top: 25%;
	}
}
