@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.arrow {
	border: solid $color-black;
	border-width: 0 2px 2px 0;
	display: grid;
	padding: 3px;
	position: absolute;
	top: 36%;
	transform: rotate(-45deg);

	&.right {
		right: 16px;
	}
	&.left {
		left: 16px;
	}
}

.up {
	transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
}

.plus {
	width: 35px;
	height: 35px;
	position: absolute;
	// background-color: #e2e2e2;
	right: 0;
	top: 0;

	&:before,
	&:after {
		position: absolute;
		content: "";
		background-color: $color-black;
	}

	&:before {
		width: 15px;
		height: 1px;
		top: 45%;
		left: 25%;
	}

	&:after {
		width: 1px;
		height: 15px;
		left: 45%;
		top: 25%;
	}
}
