@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.arrow {
	transition: all 0.4s ease;
	width: 35px;
	height: 35px;
	position: relative;
	display: grid;
	align-items: center;
	justify-content: center;

	&-go {
		width: 9px;
		height: 9px;
		border-right: solid 1px $color-black;
		border-top: solid 1px $color-black;
		transform: (rotate(45deg) translate3d(0, 0, 0));
		position: relative;
	}

	&-plus {
		width: 15px;
		height: 15px;
		position: relative;

		&:before,
		&:after {
			content: "";
			background-color: $color-black;
			position: absolute;
			transition: all 0.4s;
		}

		&:before {
			height: 1px;
			width: 15px;
			top: 7px;
			left: 0;
		}

		&:after {
			height: 15px;
			width: 1px;
			left: 7px;
		}

		&.active {
			&:before {
				transform: (rotate(180deg) translate3d(0, 0, 0));
			}

			&:after {
				transform: (rotate(90deg) translate3d(0, 0, 0));
			}
		}
	}
}
