@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid #c9c9c9;
	outline: none;
	outline-offset: 0;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	user-select: none;
	appearance: none;
	transition: 0.4s all ease;
	border-radius: 32px;
	backface-visibility: hidden;
	padding: 10px 25px;
	font-size: 12px;
	@media (min-width: $screen-md-min) {
		font-size: 14px;
	}
	&.focus,
	&:focus,
	&:hover {
		text-decoration: none;
	}
	&.btn-contact {
		background-color: $color-green;
		color: white;
	}
}
.btn-like {
	margin: 10px 0;
}
