@charset "utf-8";
// --------------------------------------------------
// フォント・背景・枠線の色
// --------------------------------------------------
@for $i from 1 through length($color-array){

	.c-#{$i} {color: nth($color-array, $i);}
	.bgc-#{$i} {background-color: nth($color-array, $i);}
	.bdc-#{$i} {border-color: nth($color-array, $i);}

}