@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.contact {
	display: grid;
	grid-auto-flow: column;
	&-item {
		display: grid;
	}
}
