@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.form-group {
	margin-bottom: 10px;
}

form {
	margin-bottom: 15px;
}

.input-group-addon {
	color: $color-white;
	background-color: $color-main;
	border: 1px solid $color-main;
}

.form-control {
	border: 1px solid $color-main;
	box-shadow: none;
}

.has-error .input-group-addon {
	color: $color-white;
	background-color: $color-main;
	border-color: $color-main;
}

.has-error .form-control {
	border-color: $color-main;
	box-shadow: none;
}
.has-error {
	.list-unstyled {
		li {
			color: $color-white;
		}
	}
}
