@charset "utf-8";
// --------------------------------------------------
// KV
// --------------------------------------------------
#sliderview {
	background-color: #ffffff;
}

.key-visual-news {
	background-color: nth($color-array, 5);
	padding: 15px 0px;
	color: #fff;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
	@media (min-width: $screen-sm-min) {
		padding: 30px 0px;
		font-size: 30px;
		margin-bottom: 30px;
	}
	&:before {
		content: "";
		display: inline-block;
		height: 0;
		width: 0;
		border-image: none;
		position: absolute;
		left: 0;
		top: -250px;
		border-right: 1920px solid #e1e1e1;
		border-top: 465px solid transparent;
		z-index: 0;
	}
	span {
		position: relative;
		z-index: 1;
		text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
		color: $color-main;
		font-weight: normal;
	}
}

.slider-shadow {
	margin-bottom: 15px;
}

.jssorb21 {
	position: absolute;
}

.jssorb21 div,
.jssorb21 div:hover,
.jssorb21 .av {
	position: absolute;
	width: 19px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	color: white;
	font-size: 12px;
	background: url(../images/controls/b21.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb21 div {
	background-position: -5px -5px;
}

.jssorb21 div:hover,
.jssorb21 .av:hover {
	background-position: -35px -5px;
}

.jssorb21 .av {
	background-position: -65px -5px;
}

.jssorb21 .dn,
.jssorb21 .dn:hover {
	background-position: -95px -5px;
}

.jssora21l,
.jssora21r {
	display: block;
	position: absolute;
	width: 70px;
	height: 80px;
	cursor: pointer;
	background: #b5142c url(../images/controls/a21.png) center center no-repeat;
	overflow: hidden;
}

.jssora21l {
	background-position: 5px -20px;
}

.jssora21r {
	background-position: -55px -20px;
}

.jssora21l:hover {
	background-position: 5px -20px;
}

.jssora21r:hover {
	background-position: -55px -20px;
}

.jssora21l.jssora21ldn {
	background-position: 5px -20px;
}

.jssora21r.jssora21rdn {
	background-position: -55px -20px;
}
