@charset "utf-8";

// --------------------------------------------------
// KV
// --------------------------------------------------
.key {
	display: grid;
	&-shadow {
		display: grid;
		img {
			margin: auto;
			width: 100%;
			max-width: 1000px;
			height: auto;
		}
	}
	&-visual {
		position: relative;
		overflow: hidden;
		figure {
			margin: 0;
		}
		.owl-theme .owl-dots {
			position: absolute;
			bottom: 16px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&-text {
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 20%;
		text-align: left;
		margin: 0;
		transform: translate(-20%, -50%);
		z-index: 1;

		a {
			color: $color-white;
			font-size: 18px;
			margin-right: 16px;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $color-black;
			}
		}
	}

	&-slogan {
		color: $color-white;
		line-height: normal;
		font-size: 12px;
		font-weight: bold;
		&.vi {
			@media (min-width: $screen-md-min) {
				font-size: 18px;
			}
		}

		&.en {
			@media (min-width: $screen-md-min) {
				font-size: 25px;
			}
		}
	}
	&-news {
	}
}

.ml12 {
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;

	@media (min-width: $screen-md-min) {
		font-size: 3.5em;
	}

	@media (min-width: $screen-md-min) {
		&.vi {
			letter-spacing: 0.33em;
		}

		&.en {
			letter-spacing: 0.33em;
		}
	}

	.letter {
		display: inline-block;
		line-height: 1em;
		color: $color-white;
	}
}
