@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.lazy {
	display: block;
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 70%;
	@media (min-width: $screen-sm-min) {
		padding-bottom: 80%;
	}
	background: transparent url("../images/lazy-loader.gif") no-repeat center
		center;
	.lazy-loaded {
		background: none;
		img {
			opacity: (1);
		}
	}
	img {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		height: auto;
		z-index: 0;
		transform: (translateY(-50%));
		transition: (1s all ease);
		opacity: (0);
		backface-visibility: (hidden);
	}
}
