@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------

.news {
	display: grid;
	position: relative;
	margin-top: 32px;
	@media (min-width: $screen-md-min) {
		margin-top: 64px;
	}
	&-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		align-items: center;
		grid-gap: 16px;
		@media (min-width: $screen-md-min) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	&-item {
		display: grid;
		align-items: center;
		background-color: white;
	}

	&-desc {
		display: grid;
		padding: 16px;
		grid-gap: 12px;
		p {
			margin: 0;
			padding: 0;
		}
	}
	&-title {
		font-weight: bold;
	}
}
