@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.news {
	padding: 0;
	&-top {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 16px;
		@media (min-width: $screen-sm-min) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	&-item {
		display: grid;
		grid-row-gap: 16px;
		&:hover {
			color: $color-green;
		}
	}
	&-link {
		display: grid;
	}
	&-thumb {
		display: grid;
	}
	&-noimage {
		display: grid;
		border: solid 1px nth($color-array, 6);
		align-items: center;
		justify-content: center;
	}
	&-title {
		display: grid;
		font-size: 18px;
	}
	&-caption {
		display: grid;
		grid-row-gap: 16px;
	}
	&-excerpt {
		display: grid;
	}
}
