@charset "utf-8";

// --------------------------------------------------
// ○○○
// --------------------------------------------------
.owl-partner {
	display: grid;
	align-items: center;

	.wrap-content {
		overflow: hidden;
	}

	.owl-item {
		display: grid;
		height: 100%;
		align-items: center;
		img {
			height: 82px;
			object-fit: contain;
		}
	}
	.owl-item > div {
		display: grid;
		align-items: center;
		border: solid 1px nth($color-array, 2);
	}
	&-list {
		display: grid;
	}
}
