@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.prods {
	display: grid;
	align-items: center;
	grid-row-gap: 48px;
	justify-content: center;
	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		grid-row-gap: 32px;
		grid-column-gap: 24px;
		grid-template-columns: repeat(4, 1fr);
	}
	&-item {
		display: grid;
		height: 100%;
		grid-template-rows: 1fr auto;
		grid-row-gap: 16px;
		&:hover {
			a {
				color: $color-green;
			}
		}
	}
	&-link {
		display: grid;
		height: 100%;
		border-radius: 12px;
		overflow: hidden;
	}
	&-shadow {
		display: grid;
		img {
			margin: auto;
		}
	}
}
.pro-thumb {
	display: block;
	position: relative;
	cursor: pointer;
	.overlay {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		opacity: 0;
		transition: (0.4s all ease);
		backface-visibility: (hidden);
		&:before {
			content: "";
			background: #000000;
			position: absolute;
			opacity: 0.3;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
	}
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 30px;
		color: $color-white;
	}
	&:hover {
		.overlay {
			opacity: 1;
		}
	}
}

.pro-title {
	margin-top: 0px;
	margin-bottom: 0px;
}
