@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.support {
	background-color: nth($color-array, 1);
	&-title {
		background-color: $color-main;
		padding: 10px 16px;
		color: $color-white;
		font-size: 12px;
		margin: 0;
		@media (min-width: $screen-md-min) {
			font-size: 14px;
		}
	}
	&-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&-item {
		font-size: 12px;
		color: $color-main;
		padding: 10px 16px;
		@media (min-width: $screen-md-min) {
			font-size: 14px;
		}
		border-top: solid 1px nth($color-array, 2);
		&:first-child {
			border: none;
		}
		img {
			float: left;
			margin-right: 10px;
		}
		a {
			font-size: 14px;
			color: $color-black;
		}
		span {
			display: block;
			font-size: 12px;
			@media (min-width: $screen-md-min) {
				font-size: 14px;
			}
		}
	}
}

.list-cat {
	margin: 0;
	padding: 0;
	list-style: none;
	&-title {
		background-color: $color-main;
		padding: 10px 16px;
		color: $color-white;
		font-size: 14px;
		@media (min-width: $screen-md-min) {
			font-size: 14px;
		}
	}
	.list-item {
		list-style: none;
		position: relative;
		padding: 0;
	}

	.list-link {
		color: $color-black;
		background-color: nth($color-array, 1);
		border-bottom: 1px solid nth($color-array, 2);
		display: block;
		position: relative;
		padding: 0 16px;
		text-transform: uppercase;
		line-height: 35px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-size: 12px;
		&.active {
			.plus:after {
				content: none;
			}
			&.sub-list-link {
				background-color: nth($color-array, 2);
				border-bottom: 1px solid nth($color-array, 1);
			}
		}
		&:hover {
			color: $color-main;
		}
		.arrow-plus,
		.arrow-go {
			position: absolute;
		}
		.arrow-plus {
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
		.arrow-go {
			right: 24px;
			top: 50%;
			transform: (rotate(45deg) translateY(-50%));
			border-right: solid 1px $color-black;
			border-top: solid 1px $color-black;
		}
	}
}

.sub-list-cat {
	display: none;
	padding: 0;
}

.side {
	display: grid;
	height: fit-content;
	grid-row-gap: 16px;
	margin-top: 16px;
	@media (min-width: $screen-md-min) {
		margin-top: 16px;
	}
}
