@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------

.support {
	background-color: nth($color-array, 5);
	&-title {
		background-color: $color-main;
		padding: 10px 16px;
		color: $color-white;
		font-size: 14px;
		margin: 0;
		@media (min-width: $screen-md-min) {
			font-size: 14px;
		}
	}
	&-list {
		padding: 0;
		list-style: none;
	}
	&-item {
		font-size: 14px;
		color: $color-main;
		font-weight: bold;
		padding: 10px 16px;
		border-top: solid 1px nth($color-array, 6);
		&:first-child {
			border: none;
		}
		img {
			float: left;
			margin-right: 10px;
		}
		a {
			font-size: 16px;
			color: $link-color-main;
		}
		span {
			display: block;
			font-size: 16px;
			@media (min-width: $screen-md-min) {
				font-size: 14px;
			}
		}
	}
}

.list-cat {
	margin: 0;
	padding: 0;
	list-style: none;
	&-title {
		background-color: $color-main;
		padding: 10px 16px;
		color: $color-white;
		font-size: 14px;
		@media (min-width: $screen-md-min) {
			font-size: 14px;
		}
	}
	.list-item {
		list-style: none;
		position: relative;
		padding: 0;
	}

	.list-link {
		color: #797979;
		background-color: #ededed;
		border-bottom: 1px solid #d8d8d8;
		display: block;
		position: relative;
		padding: 0 16px;
		text-transform: uppercase;
		line-height: 35px;
		&.active {
			.plus:after {
				content: none;
			}
			&.sub-list-link {
				background-color: #e6e6e6;
				border-bottom: 1px solid #d8d8d8;
			}
		}
	}
}

.sub-list-cat {
	display: none;
	padding: 0;
}
