@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.heading {
  color: $color-green;
  text-align: center;
  font-size: 16px;
  padding: 16px 0 6px 0;
  text-align: center;
  line-height: normal;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min) {
    font-size: 22px;
    padding: 48px 0 24px 0;
    font-weight: bold;
  }
  &-sub {
    color: nth($color-array, 4);
    font-size: 18px;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 15px;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  &-detail {
    color: $color-green;
    font-size: 18px;
    text-transform: uppercase;
    line-height: normal;
    margin: 0;
    text-align: left;
    display: grid;
    width: fit-content;
    padding: 16px 0 6px 0;
    @media (min-width: $screen-sm-min) {
      font-size: 20px;
      padding: 32px 0 24px 0;
      margin: 0;
    }
  }
}

.title-right {
  background-color: #7b4e90;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  margin-top: 15px;
  @media (min-width: $screen-sm-min) {
    margin-top: 0px;
  }
}
