@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------

.work {
	background-image: url(../images/floral-bg-parallax.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	padding: 50px 0px;
	background-size: cover;
	overflow-y: scroll;
	@media (min-width: $screen-sm-min) {
		padding: 70px 0px;
	}
	position: relative;
	&:before {
		content: "";
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid white;
		top: 0px;
		left: 50%;
		transform: (translateX(-50%));
		position: absolute;
		@media (min-width: $screen-sm-min) {
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-top: 50px solid white;
		}
	}

	&-desc {
		text-align: center;
	}

	&-item {
		background-color: $color-white;
		display: inline-block;
		margin-top: 15px;
		@media (min-width: $screen-sm-min) {
			margin-top: 0px;
		}
		&:hover {
			img {
				transform: (scale(1.1));
				opacity: 0.8;
			}
		}
	}

	&-image {
		background-color: $color-black;
		overflow: hidden;
		@media (min-width: $screen-sm-min) {
			height: 270px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&-title {
		padding: 15px;
		margin: 0px;
	}
}
