@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------

.doc-footer {
	background: url("../images/wood-texture.png") repeat #1f1f1f;
	padding: 20px 0 20px 0;
	margin-top: 64px;
	@media (min-width: $screen-sm-min) {
		padding: 40px 0 40px 0;
	}
	position: relative;
	width: 100%;
	color: $color-white;
}
.footer-contact {
	display: grid;
	grid-gap: 16px;
	margin: auto;
	width: fit-content;
	@media (min-width: $screen-sm-min) {
		grid-template-columns: auto 1fr;
		grid-gap: 48px;
	}
}

.footer-company {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: 86px 1fr;
}

.footer-block {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: 1fr 1fr;
	@media (min-width: $screen-sm-min) {
		grid-template-columns: 1fr auto;
		grid-gap: 48px;
		width: fit-content;
	}
}

.footer-list {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
	.diachi {
		line-height: 26px;
	}
	li a {
		color: $color-white;
		line-height: 24px;
	}
	.mobile {
		margin-bottom: 15px;
	}
}

.footer-name {
	text-align: left;
	text-transform: uppercase;
	color: $color-white;
	line-height: normal;
	font-weight: bold;
	font-size: 16px;
	@media (min-width: $screen-sm-min) {
		text-align: left;
	}
}

.footer-logo {
	margin-bottom: 0;
	text-align: center;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 15px;
	}
	img {
		width: 66px;
		height: auto;
		object-fit: contain;
		@media (min-width: $screen-sm-min) {
			width: 86px;
		}
	}
}
.footer-social,
.footer-menu {
	display: grid;
	grid-gap: 24px;
	height: fit-content;
}
.footer-link {
	&:hover {
		color: #ff7200;
	}
}
