@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.header {
	background-color: nth($color-array, 5);
	.wrap-content {
		display: grid;
		grid-auto-flow: column;
	}
	.fa {
		&:hover {
			color: $color-blue;
		}
	}
	&-top {
		border-bottom: solid 1px nth($color-array, 6);
	}
}
.top-switch {
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
}
.hotline {
	font-size: 0;
	text-align: left;
	.tel {
		display: inline-block;
	}
	.tel {
		color: $color-black;
		font-size: 14px;
		line-height: 48px;
		@media (min-width: $screen-sm-min) {
			padding: 0 16px;
			border-left: solid 1px nth($color-array, 6);
		}
	}
}
.fab-top {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-auto-columns: max-content;
}
.fab-link {
	text-align: center;
	border-left: solid 1px nth($color-array, 6);
	.fab {
		line-height: 48px;
		color: nth($color-array, 6);
		font-size: 16px;
		padding: 0 16px;
	}
}

.language-chooser {
	justify-content: end;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	height: 100%;
	width: auto;
	list-style: none;

	li {
		list-style: none;
		text-align: center;
		line-height: 48px;
		border-left: solid 1px nth($color-array, 6);
		padding: 0 16px;

		&:last-child {
			@media (min-width: $screen-sm-min) {
				border-right: solid 1px nth($color-array, 6);
			}
		}
	}
}
