@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.header {
	background-color: white;
	z-index: 4;
	position: relative;
	transition: all 0.4s ease;
	.wrap-content {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: max-content;
		align-items: center;
		@media (min-width: $screen-sm-min) {
			grid-gap: 16px;
		}
	}
	&-top {
		box-shadow: 0 0 5px rgba($color-black, 0.6);
		@media (min-width: $screen-sm-min) {
			padding: 8px 0;
		}
	}
}
.top-switch {
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
}
.hotline {
	text-align: left;
	display: grid;
	border-left: solid 1px nth($color-array, 2);
	padding-left: 16px;
	p {
		margin: 0;
		font-weight: bold;
	}
	.tel {
		display: inline-block;
		color: $color-main;
		font-size: 14px;
	}
}
.top-mail {
	display: grid;
	grid-gap: 4px;
	border-left: solid 1px nth($color-array, 2);
	padding-left: 16px;
	.mail {
		color: $color-main;
		font-size: 14px;
	}
}
.fab-top {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-auto-columns: max-content;
}
.fab-link {
	text-align: center;
	transition: all 0.4s ease;
	.fab {
		line-height: 48px;
		color: $color-main;
		font-size: 16px;
		padding: 0 16px;
		transition: all 0.4s ease;
	}
	&:hover {
		.fab {
			color: $color-black;
		}
	}
}

.language-chooser {
	justify-content: end;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	height: 100%;
	width: auto;
	list-style: none;

	li {
		list-style: none;
		text-align: center;
		line-height: 48px;
		// border-left: solid 1px nth($color-array, 2);
		padding: 0 16px;

		// &:last-child {
		// 	@media (min-width: $screen-sm-min) {
		// 		border-right: solid 1px nth($color-array, 2);
		// 	}
		// }
	}
}
