@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.header {
	background-color: nth($color-array, 5);
	address {
		font-style: normal;
	}
	.fa {
		&:hover {
			color: $color-blue;
		}
	}
}
.top-switch {
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
}
.hotline {
	font-size: 0px;
	text-align: left;
	.tel {
		display: inline-block;
	}
	.tel,
	.time,
	.address {
		color: $color-black;
		font-size: 16px;
		line-height: 30px;
		padding: 0px 10px;
		@media (min-width: $screen-sm-min) {
			font-size: 14px;
			border-left: solid 1px nth($color-array, 6);
		}
		&:last-child {
			border-right: solid 1px nth($color-array, 6);
		}
	}
	.time,
	.address {
		margin: 0px;
		display: none;
		@media (min-width: $screen-sm-min) {
			display: inline-block;
		}
	}
}
.fab-top {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-auto-columns: max-content;
}
.fab-link {
	text-align: center;
	border-left: solid 1px nth($color-array, 6);
	.fab {
		line-height: 30px;
		color: nth($color-array, 6);
		font-size: 16px;
		padding: 0 10px;
	}
	// &:last-child {
	// 	@media (min-width: $screen-sm-min) {
	// 		border-right: solid 1px nth($color-array, 6);
	// 	}
	// }
}

.language-chooser {
	justify-content: end;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	height: 100%;
	width: auto;
	list-style: none;

	li {
		list-style: none;
		text-align: center;
		line-height: 30px;
		border-left: solid 1px nth($color-array, 6);
		padding: 0 10px;

		&:last-child {
			@media (min-width: $screen-sm-min) {
				border-right: solid 1px nth($color-array, 6);
			}
		}
	}
}
