@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.navbar {
	margin: 0;
	border-radius: 0;
	border: none;
	display: block;
	background-color: white;
	position: relative;
	@media (min-width: $screen-sm-min) {
		display: block;
	}

	&-header {
		display: table;
		padding: 8px 16px;
		width: 100%;
		@media (min-width: $screen-sm-min) {
			display: table-cell;
			width: 230px;
			vertical-align: middle;
			padding: 0;
		}
	}

	&-wrap {
		display: none;
		vertical-align: middle;
		text-align: left;
		@media (min-width: $screen-sm-min) {
			display: table-cell;
			text-align: right;
		}
	}

	.wrap-content {
		display: block;
		padding: 0;
		position: static;
		@media (min-width: $screen-sm-min) {
			display: table;
		}
	}

	&-logo {
		display: inline-block;
		width: 66px;
		vertical-align: middle;
		padding: 0;
		@media (min-width: $screen-sm-min) {
			display: inline-block;
			width: 76px;
			padding: 0;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.main-menu {
		margin: auto;
		width: 100%;
		.main-list {
			margin: 0;
			padding: 0;
			display: grid;
			grid-column-gap: 16px;
			align-items: center;
			@media (min-width: $screen-sm-min) {
				grid-auto-flow: column;
				grid-auto-columns: max-content;
				justify-content: end;
			}
		}
		.main-item {
			position: static;
			background-color: $color-white;
			border-bottom: solid 1px #e7e7e7;
			background-color: $color-white;
			display: block;
			@media (min-width: $screen-sm-min) {
				position: static;
				display: inline-block;
				border: none;
			}

			&:last-child {
				border-right: none;
			}

			&:hover {
				background-color: $color-white;
				.main-link {
					color: $color-green;
				}
				.sub-wrap {
					display: grid;
				}
				.main-over {
					opacity: 1;
					z-index: 2;
				}
			}
			&.active {
				color: $color-green;
				.main-link {
					color: $color-green;
				}
			}
			.sub-wrap {
				display: none;
				background-color: white;
				position: absolute;
				z-index: 999;
				width: 100%;
				transition: (0.4s all ease);
				left: 0;
				right: 0;
				justify-content: center;
				border-top: solid 1px #e7e7e7;
				padding-top: 16px;
				padding-bottom: 16px;
			}
			.sub-list {
				padding: 16px 0;
				margin: 0;
				display: grid;
				width: 100%;
				max-width: 1170px;
				transition: (0.4s all ease);
				list-style: none;
				@media (min-width: $screen-sm-min) {
					grid-template-columns: repeat(3, 1fr);
					grid-column-gap: 16px;
					padding: 0;
				}
				&-item {
					position: relative;
					display: block;
					margin: 0;
					padding: 0;
					color: $color-white;
					list-style: none;
					background-color: white;
					&:hover {
						> .sub-list-link {
							color: $color-green;
						}
					}
					&.active {
						.plus {
							background-color: #e0e0e0;
						}
					}
				}
				&-link {
					color: $color-black;
					line-height: normal;
					display: block;
					text-align: left;
					padding: 8px 0;
					.fas {
						font-size: 12px;
						padding-right: 8px;
					}
				}
			}
		}

		.main-dev {
			list-style: none;
			padding: 0;
			margin: 0;
			background-color: nth($color-array, 5);
			height: 32px;
			width: 1px;
		}

		.main-link {
			position: relative;
			display: grid;
			color: $color-black;
			// line-height: 35px;
			position: relative;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			padding-left: 16px;
			align-items: center;
			@media (min-width: $screen-sm-min) {
				display: block;
				line-height: 71px;
				padding-left: 0;
			}
		}

		.main-over {
			@media (min-width: $screen-sm-min) {
				background-color: rgba(0, 0, 0, 0.6);
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 92px;
				z-index: -1;
				height: 100vh;
				opacity: 0;
			}
		}

		.children {
			display: none;
			left: 195px;
			position: absolute;
			top: 0;
			width: 180px;
			padding: 0;
			background-color: $color-black;
			&.active .f-item {
				background-color: #e0e0e0;
				border-bottom: solid 1px #e7e7e7;
			}
		}

		.plus {
			display: grid;
			@media (min-width: $screen-sm-min) {
				display: none;
			}
		}
		.main-link.active .plus:after,
		.sub-list-item.active .plus:after {
			content: none;
		}
	}
}
