@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
* {
	box-sizing: (border-box);
}

html {
	background-size: 100% auto;
}

body {
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-family: TeXGyreAdventor, Helvetica, sans-serif;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
	line-height: normal;
	@media (min-width: $screen-md-min) {
		font-size: 14px;
	}
	&.active {
		overflow-y: auto;
		.overlay {
			opacity: 1;
			z-index: 2;
		}
	}
}

.mask {
	visibility: hidden;
	opacity: (0);
	position: absolute;
	z-index: -1;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	transition: all 0.4s ease;
	&.active {
		z-index: 3;
		background-color: $color-white;
		visibility: visible;
		opacity: (1);
	}
}

.overlay {
	@media (min-width: $screen-sm-min) {
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 92px;
		z-index: -1;
		height: 100vh;
		opacity: 0;
		transition: all 0.2s ease;
	}
}

img {
	vertical-align: middle;
	transition: (0.4s all ease);
	backface-visibility: (hidden);
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	outline: none;
	text-decoration: none;
	transition: (all 0.4s ease);
	&:hover {
		text-decoration: none;
	}
	&:active,
	&:focus,
	&:visited {
		text-decoration: none;
		outline: none;
	}
}

label {
	font-weight: normal;
}

span {
	line-height: normal;
}

p {
	line-height: 1.45em;
	font-size: 14px;
	@media (min-width: $screen-md-min) {
		font-size: 14px;
	}
}

hr {
	border-top: solid 1px nth($color-array, 5);
	border-bottom: none;
	margin: 15px 0px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 10px;
}

h3 {
	font-size: 14px;
	color: #000000;
}

h3 a {
	color: $color-black;
	text-transform: uppercase;
}
