@charset "utf-8";

// ==================================================
// Web Font
// ==================================================

// @font-face {
// 	font-family: 'icon-top';
// 	src:url('/common/fonts/icon-top.eot?tiw57q');
// 	src:url('/common/fonts/icon-top.eot?#iefixtiw57q') format('embedded-opentype'),
// 		url('/common/fonts/icon-top.woff?tiw57q') format('woff'),
// 		url('/common/fonts/icon-top.ttf?tiw57q') format('truetype'),
// 		url('/common/fonts/icon-top.svg?tiw57q#icon-top') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// [class^="icon-"], [class*=" icon-"] {
// 	font-family: 'icon-top';
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// .icon-top-shop:before {
// 	content: "\e600";
// }
// .icon-top-service:before {
// 	content: "\e601";
// }
// .icon-top-mainte:before {
// 	content: "\e603";
// }
// .icon-top-car:before {
// 	content: "\e605";
// }
@font-face {
	font-family: "TeXGyreAdventor";
	src: url("../fonts/TeXGyreAdventor-Regular.eot");
	src: local("☺"),
		url("../fonts/TeXGyreAdventor-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/TeXGyreAdventor-Regular.woff") format("woff"),
		url("../fonts/TeXGyreAdventor-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "TeXGyreAdventor";
	src: url("../fonts/TeXGyreAdventor-Bold.eot");
	src: local("☺"),
		url("../fonts/TeXGyreAdventor-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TeXGyreAdventor-Bold.woff") format("woff"),
		url("../fonts/TeXGyreAdventor-Bold.ttf") format("truetype");
	font-weight: 700;
}
