@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$support-for-original-webkit-gradients: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;
$experimental-support-for-svg: true;
$legacy-support-for-mozilla: true;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// color,border,background-color
$color-array: #eff2f7 #e7e7e7 #d8d8d8 #f5f5f5;
$color-link: #17a2b8;
$color-main: #01c3ff;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #b5142c;
$color-blue: #004486;
$color-green: #07ad0c;
$color-orange: #ff7200;
$color-dark-blue: #0094c2;
$color-light-blue: #e9faff;

// width,height
$scale-px-array: 100 200 300 400 500 600 700 900;
$scale-per-array: 10 20 30 40 50 60 70 80 90 100;

// margin,padding
//
$margin-px-array: 0 5 10 15 20 25 30 40 50 60 70 80 90 100;
$margin-per-array: 10 20 30 40 50 60 70 80 90 100;

$padding-px-array: 0 5 10 15 20 25 30 40 50 60 70 80 90 100;
$padding-per-array: 10 20 30 40 50 60 70 80 90 100;

$font-size-array: 32 40;

$border-px-array: 1 2 3 4 5 10;
$border-radius-array: 4 8 10;

$gutter-array: 10 15 20 30;

// @import "mixins";
@import "default";
// @import "fonts";
@import "component";
@import "base-layout";
@import "pages-layout";
@import "bootstrap";
@import "fontawesome";
@import "owl-carousel";
@import "lightgallery";
// @import "fonts-web";
// @import "_tinymce/tinymce";
