@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #c9c9c9;
    outline: none;
    outline-offset: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    @include user-select(none);
    @include appearance(none);
    @include transition(0.4s all ease);
    @include border-radius(30px);
    @include backface-visibility(hidden);
    padding: 10px 25px;
    font-size: 12px;
    @media(min-width:$screen-md-min) {
        font-size: 14px;
    }
	&.focus,
	&:focus,
	&:hover {
		text-decoration: none;
    }
    &-block{
        width: 90%;
        @media(min-width:$screen-md-min) {
            max-width: 200px;
        }
    }
}
.btn-like{
    margin: 10px 0px;
}
.btn-white{
    background-color: transparent;
    &:hover{
        color: $color-white;
        background: $color-main;
        border-color: $color-main;
    }
}
.btn-register{
    .btn {
        margin: auto;
        display: inherit;
    }
}
.btn-purple {
    color: $color-white;
    background-color: $link-color-main;
    border-color: $link-color-main;
    &.disabled{
        @include opacity(1);
    }
    &:hover{
        color: $link-color-main;
        background: $color-white;
        border-color: $color-white;
    }
}
.btn-purple-dark {
    color: $color-white;
    background-color: $link-color-main;
    border-width: 1px;
    border-color: $link-color-main;
    &.disabled{
        @include opacity(1);
    }
    &:hover{
        color: $link-color-main;
        background: $color-white;
        border-color: $link-color-main;
    }
}
.l-btn-about{
    position: relative;
    height: 34px;
    margin-top: 0px;
    margin-bottom: 15px;
    @media(min-width:$screen-md-min) {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    &:before,&:after{
        content: "";
        @include transition(0.4s all ease);
    }
    &:before,&:after,.border{
        height: 1px;
        position: absolute;
        background-color: nth($color-array,5);
    }
    &:before{
        right: 50%;
    }
    &:right{
        left: 50%;
    }
    .border{
        width: 100%;
        top: 50%;
        @include transform(translateY(-50%));
        z-index: 1;
    }
    &.active{
        .l-btn-about:before{
            left: 0%;
        }
        .l-btn-about:right{
            right: 0%;
        }
    }
    .btn-purple-dark{
        position: absolute;
        z-index: 2;
        left: 50%;
        @include transform(translateX(-50%));
    }
}