@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.form-group {
    margin-bottom: 10px;
}

form {
    margin-bottom: 15px;
}

.input-group-addon {
    color: $color-white;
    background-color: $link-color-main;
    border: 1px solid $link-color-main;
    @include border-radius(0);
}

.form-control {
    border: 1px solid $link-color-main;
    box-shadow: none;
    @include border-radius(0);
}

.has-error .input-group-addon {
    color: $color-white;
    background-color: $link-color-main;
    border-color: $link-color-main;
}

.has-error .form-control {
    border-color: $link-color-main;
    box-shadow: none;
}
.has-error{
    .list-unstyled{
        li{
            color: $color-white;
        }
    }
}

.has-error .form-control-feedback {
    color: $link-color-main;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $link-color-main !important;
    font-weight: bold !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: $link-color-main !important;
    font-weight: bold !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $link-color-main !important;
    font-weight: bold !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $link-color-main !important;
    font-weight: bold !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}