@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.lazy {
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 70%;
    @media(min-width: $screen-sm-min) {
        padding-bottom: 80%;
    }
    background: transparent url('/common/images/lazy-loader.gif') no-repeat center center;
    .lazy-loaded {
        background: none;
        img {
            @include opacity(1);
        }
    }
    img {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        height: auto;
        z-index: 0;
        @include transform(translateY(-50%));
        @include transition(1s all ease);
        @include opacity(0);
        @include  backface-visibility(hidden);
    }
}