@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.slick {
  overflow-x: hidden;
  .regular{
    //margin-top: 30px;
  }
  .slick-slide {
    &:focus {
      outline: none;
    }
    &:hover{
      img{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
    img {
      width: 100%;
      height: auto;
      //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      //filter: grayscale(100%);
      @include transition(0.4s all ease);
    }
  }
}