@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------

.doc-footer {
  background: url('/common/images/wood-texture.png') repeat #1f1f1f;

  padding: 20px 0px 20px 0px;
  @media(min-width: $screen-sm-min) {
    padding: 40px 0 40px 0;
  }
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $color-white;
  address {
    margin-bottom: 0px;
    text-align: right;
    color: rgba(255, 255, 255, 0.32);
  }
  h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: $color-white;
    margin-top: 0px;
    line-height: normal;
    font-weight: bold;
  }
}

.footer-list li a {
  color: $color-white;
  line-height: 24px;
}

.footer-list .mobile {
  margin-bottom: 15px;
}

.footer-list {
  padding: 0px;
  list-style: none;
  .diachi {
    line-height: 26px;
  }
}

.logo-footer {
  margin-bottom: 15px;
  img {
    width: 100%;
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  .doc-footer address {
    text-align: left;
    margin-bottom: 15px;
  }
  .doc-footer .visitor {
    text-align: left;
  }
  .doc-footer .visit-label {
    margin-left: 0px;
  }
  .doc-footer h3 {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 5px;
  }
  .footer-list {
    text-align: center;
  }
  .footer-list .footer-item {
    display: inline-block;
    margin: 0px 5px;
  }
  .logo-footer,
  .socials {
    text-align: center;
  }
  .logo-footer {
    margin-bottom: 0px;
  }
  .logo-footer img {
    width: 65%;
    height: auto;
  }
  .socials a {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
  }
}
